@import url("https://fonts.googleapis.com/css?family=Lato|Poppins|Kaushan+Script");

.has-vertically-aligned-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  min-height: 100%;
}

.header-wrapper {
  padding-bottom: 30px;
}

.hero {
  background-image: url(https://images.pexels.com/photos/4116708/pexels-photo-4116708.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  // background: linear-gradient(rgba(31, 44, 108, 0.65), rgba(31, 44, 108, 0.65)), rgba(0, 0, 0, 0.55) url("https://picsum.photos/id/381/1920/1080") no-repeat;
  background: linear-gradient(rgba(35, 203, 165, 0.55), rgba(7, 135, 102, 0.55)), rgba(0, 0, 0, 0.55) url("https://images.pexels.com/photos/4116708/pexels-photo-4116708.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  // box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

// .hero .title {
//   font-family: 'Kaushan Script', sans-serif;
//   transform: rotate(-5deg);
//   font-size: 5rem;
//   color: whitesmoke;
// }

// .hero .subtitle {
//   padding: 5px;
//   color: whitesmoke;
// }

.hero .profession {
  padding-top: 50px;
  font-size: 1.7rem;
  text-transform: uppercase;
}

.hero .hero-foot {
  height: 50px;
  background: white;
  // box-shadow: 0 2px 15px rgba(0, 0, 0, 0.082);
}

@media (max-width: 599px) {
  .hero .hero-foot {
    display: none;
  }
}

.hero .hero-foot .hero-foot--wrapper {
  margin: 7px auto;
  height: 50px;
}

.hero .hero-foot .hero-foot--wrapper .hero-menu-desktop {
  line-height: 38px;
  font-weight: bold;
  text-transform: none;
  letter-spacing: 1px;
  font-size: 1rem;
}

.hero .hero-foot .hero-foot--wrapper .hero-menu-desktop ul li {
  display: inline-block;
  padding-right: 15px;
  padding-left: 15px;
}

.hero .hero-foot .hero-foot--wrapper .hero-menu-desktop ul li.is-active a {
  border-bottom: 2px solid #24A882;
}

.hero .hero-foot .hero-foot--wrapper .hero-menu-desktop ul li a {
  color: #24A882 !important;
}

.hero .hero-foot .hero-foot--wrapper .hero-menu-desktop ul li a:hover {
  color: #24A882;
  // transition: all .2s ease-in-out;
  border-bottom: 2px solid #1f2c6c;
}

.main-content {
  padding-top: 2rem;
  // color: #3c4172;
  color: #2a2a2a;
}

.main-content .section-dark {
  background-color: #f0f3f5;
  ;
  padding: 60px 0px;
}

.main-content .section-dark.resume {
  height: 400px;
  padding-top: 100px;
}

@media (max-width: 599px) {
  .main-content .section-dark.resume {
    padding-top: 75px;
  }
}

.main-content .section-dark.resume .title {
  padding: 20px;
}

.main-content .section-dark.resume button {
  border: 2px solid #43485c;
  background: white;
  color: #43485c;
  height: 50px;
  width: 250px;
  font-size: 1rem;
  text-transform: uppercase;
}

.main-content .section-dark.resume .fa-download {
  color: #1f2c6c;
}

.main-content .section-dark.my-work {
  padding: 120px;
}

@media (max-width: 599px) {
  .main-content .section-dark.my-work {
    padding: 75px 20px;
  }
}

.main-content .section-dark.my-work .work-item {
  margin-bottom: 1rem;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  border-radius: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 5px 20px rgba(14, 25, 80, 0.3);
}

.main-content .section-dark.my-work .work-item:hover {
  -webkit-transform: scale(1.055) translateY(-2px);
  transform: scale(1.055) translateY(-2px);
  -webkit-box-shadow: 0 2px 25px 0 rgba(30, 30, 30, 0.1);
  box-shadow: 0 2px 25px 0 rgba(30, 30, 30, 0.1);
}

.main-content .section-light {
  padding: 40px;
}

.main-content .section-light.about-us {
  padding-bottom: 100px;
}

.main-content .section-light.about-us .is-larger {
  font-size: 1.2rem;
}

@media (max-width: 599px) {
  .main-content .section-light.about-us .about-links {
    text-align: center;
  }
}

.main-content .section-light.about-us .right-image img {
  border-radius: 11px;
  margin: 20px;
  box-shadow: 0 5px 20px rgba(14, 25, 80, 0.3);
}

@media (max-width: 599px) {
  .main-content .section-light.about-us .right-image img {
    margin: auto;
  }
}

.main-content .section-light.contact {
  padding: 200px;
}

.main-content .section-color.goabroad {
  padding: 0 100px 100px 100px;
  // background-color: #43485c;
}

.main-content .section-light.contact button {
  width: 100%;
  background-color: #43485c;
  color: white;
  height: 50px;
  font-size: 1.1rem;
  text-transform: uppercase;
}

.main-content .section-color.services {
  padding: 100px;
  // background-color: #43485c;
  background-color: #078766;
  color: white;
}

@media (max-width: 599px) {
  .main-content .section-light.contact {
    padding: 60px 20px;
  }

  .main-content .section-color.goabroad {
    padding: 60px 20px;
  }
  .main-content .section-color.services {
    padding: 60px 40px;
  }
}

.main-content .section-color.services .title,
.main-content .section-color.services .subtitle {
  color: white;
}

.main-content .section-color.services i {
  font-size: 3rem;
  padding: 20px;
}

.main-content .section-heading {
  border-bottom: 3px solid lightgray;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  padding: 0 10px 5px 10px;
}

.main-content .section-title {
  color: #24A882;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 2px;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
}

.main-content .section-subtitle {
  color: #363636;
  font-size: 1rem;
  padding-bottom: 1.5rem;
  letter-spacing: 2px;
  padding-bottom: 3rem;
}

.fa-download {
  color: #43485c;
}

#toTop {
  height: 50px;
  width: 50px;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgba(31, 44, 108, 0.65);
  color: white;
  cursor: pointer;
  border-radius: 50%;
  font-size: 2rem;
  box-shadow: 0 5px 20px rgba(14, 25, 80, 0.3);
}

#toTop a {
  color: white;
}

#toTop:hover {
  background-color: #43485c;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(245, 245, 245, 0);
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #43485c;
}

.white {
  color: ghostwhite
}