@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html {
  font-family: Helvetica, Arial, sans-serif;
  font-kerning: normal;
  font-feature-settings: "palt";
  -webkit-font-feature-settings: "palt";
  width: 100%; // iOSで右端が見切れるため明示的に指定
}

body {
  width: 100%; // iOSで右端が見切れるため明示的に指定
}

.has-vertically-aligned-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-wrapper {
  padding-bottom: 30px;
}

#hero-top {
  background-image: url(https://images.pexels.com/photos/2916828/pexels-photo-2916828.jpeg);
  // background: linear-gradient(rgba(31, 44, 108, 0.65), rgba(31, 44, 108, 0.65)), rgba(0, 0, 0, 0.55) url("https://picsum.photos/id/381/1920/1080") no-repeat;
  background: linear-gradient(rgba(35, 203, 165, 0.55), rgba(7, 135, 102, 0.55)), rgba(0, 0, 0, 0.55) url(https://images.pexels.com/photos/2916828/pexels-photo-2916828.jpeg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  // box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

// .hero .title {
//   font-family: 'Kaushan Script', sans-serif;
//   transform: rotate(-5deg);
//   font-size: 5rem;
//   color: whitesmoke;
// }

// .hero .subtitle {
//   padding: 5px;
//   color: whitesmoke;
// }

.section-light {
  // padding-top: 2.5rem;
  // color: #3c4172;
  color: #2a2a2a;

  .section-title {
    color: #24A882;
  }
}

.section-color {
  padding-top: 2rem;
  background-color: #24A882;
  color: white;

  .section-title,
  .section-subtitle,
  .title {
    color: white;
  }
}

.section-color.services i {
  font-size: 3rem;
  padding: 20px;
}

.heading {
  border-bottom: 3px solid lightgray;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  padding: 0 10px 5px 10px;
}

.section-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.5rem;
  line-height: 1;
  letter-spacing: 2px;
  padding-top: 3rem;
  padding-bottom: 0.5rem;

  @media screen and (max-width: 640px) {
    line-height: 1.2;
    font-size: 1.75rem;
  }
}

.section-subtitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: silver;
  font-size: 1.2rem;
  letter-spacing: 2px;
  padding-bottom: 3rem;
}

d .fa-download {
  color: #43485c;
}

#toTop {
  height: 50px;
  width: 50px;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgba(31, 44, 108, 0.65);
  color: white;
  cursor: pointer;
  border-radius: 50%;
  font-size: 2rem;
  box-shadow: 0 5px 20px rgba(14, 25, 80, 0.3);
}

#toTop a {
  color: white;
}

#toTop:hover {
  background-color: #43485c;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(245, 245, 245, 0);
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #43485c;
}

.white {
  color: ghostwhite
}

.social-media {
  a {
    color: white;
  }

  a:visited {
    color: white;
  }
}

.explore {
  font-weight: bold;
  color: #24A882 !important;
  letter-spacing: 2px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.is-green {
  background-color: #24A882 !important;
  color: white !important;
}

.is-br-mobile {
  @media screen and (min-width: 640px) {
    display: none;
  }
}

.section-title,
.section-subtitle,
.title,
.subtitle,
.montserrat {
  font-family: 'Montserrat', sans-serif;
}

.is-fullwidth-mobile {
  margin-left: calc(((100vw - 100%) / 2) * -1);
  margin-right: calc(((100vw - 100%) / 2) * -1);
}

.odakyu {
  margin: 0 auto;
  font-weight: bold;
  font-family: sans-serif;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0);
  -webkit-background-clip: text;
  background-image: url(https://images.pexels.com/photos/589808/pexels-photo-589808.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  filter: saturate(200%);
  background-size: 100vw;
}

h1.motto {
  font-weight: bold;
  font-size: 4rem;
  line-height: 1.2;
  background: #ff0000;
  background: -webkit-linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);
  background: linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @media screen and (max-width: 960px) {
    font-size: 2rem;
    line-height: 1.2;
    word-break: break-word;
  }
}

.fa-canadian-maple-leaf {
  font-size: 8rem;
  color: #ff0000;
}

.typewriter {
  display: inline-block;
  align-items: center;
  justify-content: center;

  h1 {
    display: inline-block;
    box-sizing: border-box;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #ff0000;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation: typing 1.5s steps(12, end),
      // blink-caret .75s step-end infinite;
  }
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  // from {
  //   border-color: transparent
  // }

  // to {
  //   border-color: transparent
  // }

  // 50% {
  //   border-color: #ffffff;
  // }
}

table#stats {
  tr {
    text-align: right;
  }
}

.mapleleaf {
  margin: 0 auto;
  width: 30vw;
  max-width: 200px;
  color: white;
}

.mapleleaf-wrapper {
  position: relative;
  overflow: hidden;
}

.mapleleaf-wrapper:before {
  animation: 4s cubic-bezier(.4, 0, .2, 1) 0s infinite forwards giragira;
  background: #ff0000;
  bottom: 0;
  content: '';
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}

#mapleleaf-path {
  fill: white;
  width: 100;
}

@keyframes giragira {
  80% {
    // transform: translateX(-100%);
    clip-path: circle(0% at 0 100%);
    -webkit-clip-path: circle(0 at 0 100%);
    opacity: 0.5;
  }

  90% {
    clip-path: circle(50% at 50% 50%);
    -webkit-clip-path: circle(100% at 50% 50%);
    opacity: 0.5;
  }

  100%,
  0% {
    clip-path: circle(0 at 100% 0);
    -webkit-clip-path: circle(0% at 100% 0);
    opacity: 0.5;
    // filter: brightness(200%);
  }
}

.visible.slide-in {
  @media screen and (min-width: 960px) {
    animation: 1s ease-in-out reveal;
  }
}

.visible.circular-in {
  animation: 1s ease-in-out guruguru;
}

@keyframes reveal {
  0% {
    opacity: 0;
    transform: scale(0.85);
  }

  25% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes guruguru {
  0% {
    transform: scale(0.5) rotate(-25deg);
  }

  100% {
    transform: scale(1) rotate(0deg);
  }
}

.flip {
  background-color: transparent;
  width: 100%;
  perspective: 1000px;

  @media screen and (max-width: 419px) {
    height: 80vw;
  }

  @media screen and (min-width: 420px) and (max-width: 680px) {
    height: 20vh;
  }

  @media screen and (min-width: 681px) and (max-width: 919px) {
    height: 28vw;
  }

  @media screen and (min-width: 920px) and (max-width: 1215px) {
    height: 20vw;
  }

  @media screen and (min-width: 1216px) {
    height: 25vh;
  }
}

.flip-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip:hover .flip-inner {
  transform: rotateY(180deg);
}

.flip-front,
.flip-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden !important;
  /* Safari */
  backface-visibility: hidden !important;
  text-align: left;
}

.flip-back {
  transform: rotateY(180deg);
}


.visible.reveal-circular-wrapper {
  animation: reveal-circular 2.5s cubic-bezier(.4, 0, .2, 1);
  // overflow: hidden;
  // position: relative;
  // will-change: contents;

  // &:hover,
  // &:active {
  //   img {
  //     object-fit: cover;
  //     filter: brightness(75%);
  //     transition: 0.5s ease-in;
  //     display: inline-block;
  //     position: relative;
  //     backface-visibility: hidden;
  //     -webkit-backface-visibility: hidden;
  //   }

  //   .hover-box {
  //     opacity: 1;
  //     transition: 0.25s ease-in;
  //     transition-delay: 0.25s;
  //   }
  // }

  // img {
  //   transition: 0.25s ease-out;
  //   border: 1px solid transparent;
  //   backface-visibility: hidden;
  //   -webkit-backface-visibility: hidden;
  // }

  // .hover-box {
  //   border-radius: 4px;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   cursor: pointer;
  //   position: absolute;
  //   bottom: 5vw;
  //   left: 20vw;
  //   right: 5vw;
  //   animation: fade-in 2s linear;
  //   background-color: rgba(255, 0, 0, 0.3);
  //   color: white;
  //   font-weight: bold;
  // }
}

@keyframes reveal-circular {
  0% {
    filter: brightness(75%) blur(5px);
    clip-path: circle(0 at 50% 50%);
    -webkit-clip-path: circle(0 at 50% 50%);
  }

  100% {
    filter: brightness(100%);
    clip-path: circle(100% at 50% 50%);
    -webkit-clip-path: circle(100% at 50% 50%);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}