.has-vertically-aligned-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-wrapper {
  padding-bottom: 30px;
}

.hero {
  background-image: url(https://images.pexels.com/photos/4116708/pexels-photo-4116708.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  // background: linear-gradient(rgba(31, 44, 108, 0.65), rgba(31, 44, 108, 0.65)), rgba(0, 0, 0, 0.55) url("https://picsum.photos/id/381/1920/1080") no-repeat;
  background: linear-gradient(rgba(35, 203, 165, 0.55), rgba(7, 135, 102, 0.55)), rgba(0, 0, 0, 0.55) url("https://images.pexels.com/photos/4116708/pexels-photo-4116708.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  // box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

// .hero .title {
//   font-family: 'Kaushan Script', sans-serif;
//   transform: rotate(-5deg);
//   font-size: 5rem;
//   color: whitesmoke;
// }

// .hero .subtitle {
//   padding: 5px;
//   color: whitesmoke;
// }

.section-light, .section-color {
  padding: 10vh 10vw;
}

.section-light + .section-light {
  padding-top: 5vh;
}

.section-light {
  padding-top: 2rem;
  // color: #3c4172;
  color: #2a2a2a;
  
  .section-color.services i {
    font-size: 3rem;
    padding: 20px;
  }

  .heading {
    border-bottom: 3px solid lightgray;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 2px;
    padding: 0 10px 5px 10px;
  }

  .title {
    color: #24A882;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 2px;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
  }
  
  .subtitle {
    color: #363636;
    font-size: 1rem;
    padding-bottom: 1.5rem;
    letter-spacing: 2px;
    padding-bottom: 3rem;
  }
}

.section-color {
  background-color: #24A882;
  .title, .subtitle {
    color: white
  }
}d

.fa-download {
  color: #43485c;
}

#toTop {
  height: 50px;
  width: 50px;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgba(31, 44, 108, 0.65);
  color: white;
  cursor: pointer;
  border-radius: 50%;
  font-size: 2rem;
  box-shadow: 0 5px 20px rgba(14, 25, 80, 0.3);
}

#toTop a {
  color: white;
}

#toTop:hover {
  background-color: #43485c;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(245, 245, 245, 0);
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #43485c;
}

.white {
  color: ghostwhite
}

.social-media {
  a {
    color: white;
  }
  a:visited {
    color:white;
  }
}