html {
  font-family: Helvetica, Arial, sans-serif;
}

.has-vertically-aligned-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-wrapper {
  padding-bottom: 30px;
}

#hero-top {
  background-image: url(https://images.pexels.com/photos/2916828/pexels-photo-2916828.jpeg);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(35, 203, 165, 0.55)), to(rgba(7, 135, 102, 0.55))), rgba(0, 0, 0, 0.55) url(https://images.pexels.com/photos/2916828/pexels-photo-2916828.jpeg) no-repeat;
  background: linear-gradient(rgba(35, 203, 165, 0.55), rgba(7, 135, 102, 0.55)), rgba(0, 0, 0, 0.55) url(https://images.pexels.com/photos/2916828/pexels-photo-2916828.jpeg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}

.section-light {
  padding-top: 2rem;
  color: #2a2a2a;
}

.section-light .section-title {
  color: #24A882;
}

.section-color {
  padding-top: 2rem;
  background-color: #24A882;
  color: white;
}

.section-color .section-title,
.section-color .section-subtitle,
.section-color .title {
  color: white;
}

.section-color.services i {
  font-size: 3rem;
  padding: 20px;
}

.heading {
  border-bottom: 3px solid lightgray;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  padding: 0 10px 5px 10px;
}

.section-title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2.5rem;
  line-height: 1;
  letter-spacing: 2px;
  padding-top: 3rem;
  padding-bottom: 0.5rem;
}

.section-subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: silver;
  font-size: 1.2rem;
  letter-spacing: 2px;
  padding-bottom: 3rem;
}

d .fa-download {
  color: #43485c;
}

#toTop {
  height: 50px;
  width: 50px;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgba(31, 44, 108, 0.65);
  color: white;
  cursor: pointer;
  border-radius: 50%;
  font-size: 2rem;
  -webkit-box-shadow: 0 5px 20px rgba(14, 25, 80, 0.3);
          box-shadow: 0 5px 20px rgba(14, 25, 80, 0.3);
}

#toTop a {
  color: white;
}

#toTop:hover {
  background-color: #43485c;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(245, 245, 245, 0);
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #43485c;
}

.white {
  color: ghostwhite;
}

.social-media a {
  color: white;
}

.social-media a:visited {
  color: white;
}

.explore {
  font-weight: bold;
  color: #24A882 !important;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

.is-green {
  background-color: #24A882 !important;
  color: white !important;
}

@media screen and (min-width: 640px) {
  .is-br-mobile {
    display: none;
  }
}

.section-title,
.section-subtitle,
.title,
.subtitle,
.montserrat {
  font-family: "Montserrat", sans-serif;
}

.mobile-fullwidth {
  margin-left: calc(((100vw - 100%) / 2) * -1);
  margin-right: calc(((100vw - 100%) / 2) * -1);
}

.odakyu {
  margin: 0 auto;
  font-weight: bold;
  font-family: sans-serif;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0);
  -webkit-background-clip: text;
  background-image: url(https://images.pexels.com/photos/589808/pexels-photo-589808.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  -webkit-filter: saturate(200%);
          filter: saturate(200%);
  background-size: 100vw;
}

.odakyu h1 {
  font-weight: bold;
  font-size: 6rem;
  line-height: 1;
}

@media screen and (max-width: 720px) {
  .odakyu h1 {
    font-size: 2.5rem;
    word-break: break-word;
  }
  .odakyu br {
    display: none;
  }
}

.fa-canadian-maple-leaf {
  font-size: 8rem;
  color: #ff0000;
}
/*# sourceMappingURL=style.css.map */